// Color
$white: #fff;
$black: #000;
$navy-950: #0e1323;
$navy-900: #1c204b;
$navy-800: #33397a;
$navy-200: #bbc0ff;
$orange: #ff8b64;
$purple-700: #7335d2;
$purple-600: #5747ea;
$purple-500: #7078c9;
$blue-300: #55c2e6;
$pink-400: #ff5e7d;
$green-400: #4bcf82;
$yellow-300: #f1c75b;
$grey-200: #d8d8d8;

//typography
@mixin text-preset-1-light {
  font-size: 5.6rem;
  font-weight: 300;
}

@mixin text-preset-2-light {
  font-size: 4rem;
  font-weight: 300;
}

@mixin text-preset-3-light {
  font-size: 3.2rem;
  font-weight: 300;
}

@mixin text-preset-4-light {
  font-size: 2.4rem;
  font-weight: 300;
}

@mixin text-preset-5-medium {
  font-size: 1.8rem;
  font-weight: 500;
}

@mixin text-preset-5-regular {
  font-size: 1.8rem;
  font-weight: 400;
}

@mixin text-preset-6-regular {
  font-size: 1.5rem;
  font-weight: 400;
}

//spacing
$spacing-100: 0.8rem;
$spacing-minus-100: -0.8rem;
$spacing-200: 1.6rem;
$spacing-300: 2.4rem;
$spacing-400: 3.2rem;
$spacing-500: 4rem;
